<h3>Listado de proveedores</h3>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a>

<input class="form-control" type="search" placeholder="Buscar un proveedor..." [formControl]="campoBusqueda">

<div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
  <img src="../../../assets/spinner.gif" alt="cargando" width="60px" height="60px">
</div>

<div *ngIf="resultados">
  <table class="table table-bordered table-striped" style="margin-top: 40px;">
    <thead>
      <tr class="filters">
        <th>Nombre</th>
        <th>Correo electronico</th>
        <th>Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of proveedores" >
        <td>{{proveedor.nombre}}</td>
        <td> <a href="mailto:{{proveedor.email}}">{{proveedor.email}}</a></td>
        <td>{{proveedor.telefono}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="noresultados" class="">
  <p>No existe ninguna coincidencia</p>
</div>
