<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Añadir nuevo presupuesto</h2>
    <a class="btn btn-primary float-md-right" routerLink="/presupuestos">Regresar al listado</a>
    <form [formGroup]="presupuestoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="proveedor">Proveedor</label>
        <select class="form-control" id="proveedor" formControlName="proveedor">
          <option value="">Seleccione</option>
          <option *ngFor="let proveedor of proveedores" value="{{ proveedor.nombre }}">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" id="fecha" formControlName="fecha" name="">
      </div>
      <div class="form-group">
        <label for="concepto">Concepto</label>
        <input type="text" class="form-control" id="concepto" formControlName="concepto" name="">
      </div>
      <div class="form-group">
        <label for="base">Base Imponible</label>
        <input type="number" class="form-control" id="base" formControlName="base"  name="">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de Iva</label>
        <select class="form-control" id="tipo" formControlName="tipo" name="">
          <option value="">Seleccione un tipo</option>
          <option value="0">0 %</option>
          <option value="0.04">4 %</option>
          <option value="0.10">10 %</option>
          <option value="0.21">21 %</option>
        </select>
      </div>
      <div class="form-group">
        <label for="iva">Importe Iva</label>
        <input type="number" class="form-control" id="iva" formControlName="iva"
           [(ngModel)]="presupuestoForm.value.iva" name="" disabled>
      </div>
      <div class="form-group">
        <label for="total">Total Presupuesto</label>
        <input type="number" class="form-control" id="total" formControlName="total"
          [(ngModel)]="presupuestoForm.value.total" name="" disabled>
      </div>
      <button type="submit" class="btn btn-primary" id="" name="button"
        [disabled]="!presupuestoForm.valid">Añadir presupuesto
      </button>
      <a class="btn btn-danger" routerLink="/presupuestos">Cancelar</a>
      <p class="alert alert-danger" *ngIf="!presupuestoForm.valid">
        Por favor complete todo los campos obligatorios
      </p>
    </form>

  </div>
  <div class="col col-md"></div>
</div>
